<footer>
    <div class="contentBody">
        <div class="row">
            <hr class="hr bg-dark mt-4">
        </div>
        <div class="row">
            <div class="col-6 ps-5">
                <ul class="list-unstyled">
                    <li class="py-1">
                        <a href="<%= relPth %>index.html" class="nav-link">Home</a>
                    </li>
                    <li class="py-1">
                        <a href="<%= relPth %>Pages/about.html" class="nav-link">About Me</a>
                    </li>
                    <li class="py-1">
                        <a href="<%= relPth %>Pages/projects.html" class="nav-link">Projects</a>
                    </li>
                    <li class="py-1">
                        <a href="<%= relPth %>Pages/contact.html" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 pe-5 float-end text-end">
                <div class="fw-light text-gray">
                    © Caleb W. 2024
                </div>
                <div class="py-2">
                    <a href="<%= relPth %>Pages/contact.html" class="px-2">
                        <i class="far fa-envelope fa-2x text-black-50"></i>
                    </a>
                    <a href="https://github.com/TheRealCaleb116" class="px-2">
                        <i class="fab fa-github fa-2x text-black-50"></i>
                    </a>
<!--                     <a href="#" class="px-2">
                        <i class="fab fa-linkedin-in fa-2x text-black-50"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>

</footer>

<script>
    //Initialize Lozad
    lozad(".lozad").observe();
</script>
